@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

.main {
  background-color: var(--sec-bg);
  padding: var(--up-down-padding, 100px) var(--main-element-padding, 20px)
    calc(var(--main-element-padding, 20px) * 2);
  @media (max-width: 767px) {
    padding: var(--up-down-padding, 100px) var(--sec-element-padding, 10px) 30px;
  }

  h1 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: var(--main-element-padding, 20px);
    font-size: 1.8rem;
  }

  .body-sec {
    @extend %flex-stretch-start;
    gap: var(--main-element-padding, 20px);
    @media (max-width: 767px) {
      gap: 15px;
    }
  }

  // .content {
  //   @extend %border-radius-5;
  //   @extend %flex-center-center;
  //   background-color: var(--main-bg);
  //   flex: 1;
  //   overflow-y: auto;
  //   > div {
  //     width: 100%;
  //     padding: var(--main-element-padding, 20px);
  //   }
  // }
}
