@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

.box {
  @extend %border-radius-5;
  overflow: hidden;
  padding: var(--main-element-padding, 20px) var(--sec-element-padding, 10px);
  position: relative;
  &:hover {
    box-shadow: var(--main-box-shadow);
  }
  a {
    text-align: center;
    .f-icon {
      @extend %border-radius-50;
      @extend %flex-center-center;
      margin: auto;
      width: 80px;
      height: 80px;
      font-size: 2rem;
      color: var(--const-white-color);
      background-color: var(--main-color);
    }
    h3 {
      font-size: 1.5rem;
      color: var(--main-color);
      margin: var(--main-element-padding, 20px) 0;
    }
    p {
      margin: 0;
      color: var(--sec-text-color);
    }
  }
}
