@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

.content {
  @extend %border-radius-5;
  background-color: var(--main-bg);
  flex: 1;
  overflow-x: hidden;
  > div {
    width: 100%;
    padding: var(--main-element-padding, 20px);
  }
  .sec-body {
    .control {
      padding-top: calc(
        var(--main-element-padding, 20px) + var(--sec-element-padding, 10px)
      );
      overflow-x: auto;
    }
  }
}
