@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

.content {
  @extend %border-radius-5;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  flex: 1;
  .sec-body {
    padding: var(--main-element-padding, 20px);
    @extend %grid-300-20;
    overflow: hidden;
    flex: 1;
    position: relative;
  }
  .sec-foot {
    padding: {
      top: var(--sec-element-padding, 10px);
      bottom: var(--main-element-padding, 20px);
    }
  }
}
