@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

@media (max-width: 991px) {
  .activeParent {
    padding-bottom: 170px;
  }
}

.acc {
  padding-left: var(--sec-element-padding, 10px);
  position: relative;
  @media (max-width: 991px) {
    position: static;
  }
  .h-btn {
    @include border-rad(50%);
    width: calc(var(--up-down-padding, 100px) / 2);
    height: calc(var(--up-down-padding, 100px) / 2);
    padding: 0;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .menu {
    @extend %border-radius-5;
    @extend %user-select-none;
    @include trans-x(-50%);
    padding: var(--sec-element-padding, 10px);
    position: absolute;
    background-color: var(--main-bg);
    top: 70px;
    left: 50%;
    box-shadow: var(--main-box-shadow);
    min-width: 150px;
    display: none;
    &.active {
      display: block;
    }
    @media (max-width: 1240px) {
      @include trans-x(0);
      right: 0;
      left: initial;
    }
    @media (max-width: 991px) {
      width: 100%;
      top: 72px;
      display: block !important;
      scale: 1 0;
      overflow: hidden;
      box-shadow: none;
      transform-origin: top;
      &.active {
        scale: 1 1;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: calc(var(--sec-element-padding, 10px) / 2);
      padding: 0;
      &::after {
        content: "";
        position: absolute;
        top: -34px;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid;
        border-color: transparent transparent var(--main-bg) transparent;
        @include trans-x(-50%);
        @media (max-width: 1240px) {
          @include trans-x(0);
          left: initial;
        }
        @media (max-width: 1240px) {
          right: 0;
        }
        @media (max-width: 991px) {
          content: none;
        }
      }
      li {
        width: 100%;
        padding: 0;
        button {
          border: none;
          background-color: transparent;
        }
        a,
        button {
          @extend %border-radius-5;
          @extend %flex-center-;
          gap: var(--sec-element-padding, 10px);
          width: 100%;
          padding: var(--sec-element-padding, 10px);
          text-transform: capitalize;
          font-size: 0.9rem;
          color: var(--black-color);
          &:hover {
            background-color: var(--sec-bg);
            color: var(--main-color);
            .f-icon {
              color: var(--main-color);
            }
          }
          .f-icon {
            color: var(--black-color);
          }
          &.danger {
            font-size: 0.85rem;
            color: var(--danger-color);
            &:hover {
              background-color: var(--danger-hover-color);
              color: var(--const-white-color);
              .f-icon {
                color: var(--const-white-color);
              }
            }
            .f-icon {
              color: var(--danger-color);
            }
          }
        }
      }
    }
  }
}
