@use "../../assets/global_scss/variables" as *;
@use "../../assets/global_scss/helpers" as *;

.left {
  flex: 1;
  margin: 0 auto;
  padding: var(--main-element-padding, 20px) {
    top: calc(var(--up-down-padding, 100px) / 2);
  }
  .head {
    text-align: center;
    padding-bottom: var(--main-element-padding, 20px);
    h2,
    p {
      margin: 0 {
        bottom: var(--sec-element-padding, 10px);
      }
    }
    h2 {
      color: var(--main-color);
    }
    p {
      color: var(--sec-text-color);
      font-size: 0.9rem;
    }
  }
  form {
    .field {
      @include formField();
    }
    .flex-sec {
      @extend %flex-center-between;
      gap: var(--main-element-padding, 20px);
      padding-bottom: var(--main-element-padding, 20px);
      @media (max-width: 576px) {
        padding-top: var(--sec-element-padding, 10px);
        flex-direction: column;
        gap: var(--sec-element-padding, 10px);
      }
      > * {
        flex: 1;
      }
    }
  }
}
